SERVER_URL=localhost:3000
DATABASE_URL="postgresql://postgres@localhost:5432/coinEdu"

BETTER_AUTH_SECRET='L4zolm9sfmApqnJ83+QWXOc/NxEE/8DWW12SaOw4Hqc='
BETTER_AUTH_URL=http://localhost:3000 # The base URL of your application


FREECRYPTO_API_KEY=''
FREECRYPTO_API_BASE='https://api.freecryptoapi.com/v1'

# Pusher (soketi)
PUSHER_APP_ID=""
PUSHER_KEY=""
PUSHER_SECRET=""
PUSHER_CLUSTER=""

## --- (pusherServer) ---
SOKETI_HOST=""
SOKETI_PORT=""
SOKETI_TLS=""

## --- (pusherClient) ---
NEXT_PUBLIC_PUSHER_KEY=""
NEXT_PUBLIC_PUSHER_CLUSTER=""
NEXT_PUBLIC_SOKETI_HOST=""
NEXT_PUBLIC_SOKETI_PORT=""
NEXT_PUBLIC_SOKETI_TLS=""


# Groq
GROQ_API_KEY=""